.about-container
{

    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    text-align:center


}
.about-container h2
{

    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.about-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;

}
.about-content img {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 10px  rgba(0, 0, 0, 0.1);
}

.about-text {
  max-width: 500px;
  text-align: left;
}
.about-text h2
{
  text-align: left;
  margin-bottom: 10px;
}
.about-text p
{
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 10px;
}